.upcomig{
    display:  flex;
    gap: 20px;
    background-color: #535454;
    color: white;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
}
.card-sss {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-right: 200px;
    
    text-align: center;
    padding: 10px;
    
}

.book {
    display: flex;
   
    
    color: white;
    padding: 2px;
}

.btm-key {
    width: 276px;
    background-color: #b0b0b0;
    color: white;
    font: 50px;
    text-align: center;
    border-radius: 5px;
}
.card-item {
    background-color: white;
    padding: 5px;
}

.card-item1 {
    background-color: white;
    padding: 5px;
}

.card-item2 {
    background-color: white;
    padding: 5px;
}

.card-confarence {
    background-color: #535454;
     margin-left: 200px;
    margin-right: 200px;
}

.past{
     display:  flex;
    gap: 20px;
    background-color: #535454;
    color: white;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;
}

.first-past {
    display: flex;
    gap: 20px;
    background-color: #535454;
    padding: 20px;
}

.past-conference {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}


.past-item {
    background-color: white;
    padding: 10px;
}

.past-item1 {
    background-color: white;
    padding: 10px;
}

.past-item2 {
    background-color: white;
    padding: 10px;
}